<div class="post">

  
  Up for some discussion?&nbsp;Let's get connected...<!-- <div class="social"> -->
    <span class="contacticon center">
      {% if site.email %}<a href="mailto:{{ site.email | encode_email }}"><i class="fas fa-envelope"></i></a>{% endif %}
      {% if site.research_gate_profile %}<a href="https://www.researchgate.net/profile/{{site.research_gate_profile}}/" target="_blank" title="ResearchGate"><i class="ai ai-researchgate"></i></a>{% endif %}
      {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>{% endif %}
      {% if site.linkedin_username %}<a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a>{% endif %}
    </span>

  <hr>

    Note: I am not taking any new freelance projects for now. Previous clients may still contact for support.

    <div class="col six center">

      <a href="#" target="_blank" title="Upwork"> <img src="/assets/img/icon_upwork.png" style="filter: grayscale(100%);" width="100px" /> </i> </a>
      &nbsp; &nbsp;
      <a href="#" target="_blank" title="Upwork"> <img src="/assets/img/icon_fiverr.png" style="filter: grayscale(100%);" width="100px" /> </i> </a>
       
  
    </div>
    
    
   

  <!-- </div> -->




</div>
